.wrapper {
    display: flex;
}
.navbar-side{
    width: 30%;
}
.nav li {
    display: flex;
}
.nav li a i{
    padding: 10px;
}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
    color: #214761;
    font-size: 1.2rem;
    text-decoration: none;
}
.sidebar-collapse > .nav > li {
	border-bottom:1px solid #e1e1e1;
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	background:#F3F3F3;
	outline:0;
    width: 100%;
}
.navbar-side {
	border:none;
	background-color: #fff;
}
.main-nav {
    /* background-color: #f2f2f2; */
    padding: 1rem 1rem;
    margin: 0 3rem;
    width: 100%;
}
.my-icon , .my-text {
    vertical-align: middle;
    display: inline-block
}
.my-icon{
    margin-left: 1rem;
}